<div class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">作品名称:</label>
		<div class="col-md-10">
			<div class="input-group">
				<input id="opusName" name="opusName" readonly class="form-control" ng-model="session.opus.opusName">
				<span class="input-group-addon" ng-click="session.getOpus()" title="选择"><i class="fa fa-search"></i></span>
			</div>
		</div>
<!-- 		<div class="col-md-1" style="padding-left:0;"> -->
<!-- 			<button ng-click="session.getOpus()" class="btn btn-default">选择</button> -->
<!-- 		</div> -->
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label"><span class="notNull">*</span>作品标签名:</label>
		<div class="col-md-10">
			<input id="opusShowName" name="opusShowName" class="form-control" ng-model="session.opus.opusLabel">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label"><span class="notNull">*</span>作品排序:</label>
		<div class="col-md-10">
			<input id="opusOrder" name="opusOrder" class="form-control" ng-model="session.opus.opusSortNumber">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">标签分类:</label>
		<div class="col-md-10">
			<div class="form-group" ng-repeat="label in session.opus.opusTypes">
					<div class="col-md-11" style="padding-right:25px;">
						<input id="opusLabelName{{$index}}" name="opusLabelName{{$index}}" class="form-control" ng-model="label.groupingName">
					</div>
					<div class="col-md-1" style="padding-top:7px;padding-left:0;">
						<a ng-click="session.addOpusLabel($index)"><i class="fa fa-plus"></i></a>
						<a ng-click="session.delOpusLabel($index)"><i class="fa fa-minus"></i></a>
					</div>
			</div>
		</div>
	</div>
</div>