<div class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label" for="scheduleGroupName"><span class="notNull">*</span>日程分组名:</label>
		<div class="col-md-10">
			<input id="scheduleGroupName" name="scheduleGroupName" class="form-control" ng-model="session.scheduleGroup.scheduleGroupingName">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" for="scheduleGroupOrder"><span class="notNull">*</span>日程排序:</label>
		<div class="col-md-10">
			<input id="scheduleGroupOrder" name="scheduleGroupOrder" class="form-control" ng-model="session.scheduleGroup.scheduleGroupingSortNumber">
		</div>
	</div>
</div>