
<div id="addDialog" class="container-fluid" style="">

	<div class="row">
		<form id="grid_add_form" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-4 control-label" for="testRoleCode">ID</label>
				<div class="col-md-8">
					<input id="newId" name="newId"  class="form-control"
						type="text"  />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="testRoleName">姓名</label>
				<div class="col-md-8">
					<input id="newName" name="newName"  class="form-control"
						type="text" />
				</div>
			</div>
		</form>
	</div>
	<button  id="saveButton" class="btn btn-default">保存</button>
	
</div>