<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Servlet 3.0 Web Application</display-name>
  <!-- <servlet>
    <description></description>
    <display-name>SwordServlet</display-name>
    <servlet-name>SwordServlet</servlet-name>
    <servlet-class>com.css.sword.web.SwordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwordServlet</servlet-name>
    <url-pattern>/sword/*</url-pattern>
  </servlet-mapping> -->
<!-- session过滤器 -->  
<filter>
	<filter-name>sessionFilter</filter-name>
	<filter-class>com.css.sword.common.login.filter.FilterSession</filter-class>
</filter>
<filter-mapping>
	<filter-name>sessionFilter</filter-name>
	<url-pattern>/sword/*</url-pattern>
</filter-mapping>
<!-- 权限过滤器 -->  
<!-- 
<filter>
	<filter-name>authFilter</filter-name>
	<filter-class>com.css.sword.auth.filter.FilterAuth</filter-class>
</filter>
<filter-mapping>
	<filter-name>authFilter</filter-name>
	<url-pattern>/sword/*</url-pattern>
</filter-mapping>
 -->
 <!-- Tomcat会去webapp下查找物理文件，配置action是行不通的 -->
  <welcome-file-list> 
  	<welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.css.sword.common.login.security.SesionListener</listener-class>
  </listener>
</web-app>