<div class="form-horizontal">

	<div class="col-md-12" lar-search-block="">
		<div class="form-group">
			<label class="col-md-1 control-label">论文标题:</label>
			<div class="col-md-3">
				<input id="queryEssayTitle" name="queryEssayTitle" class="form-control" ng-model="essay.query.cons.title">
			</div>
			<label class="col-md-1 control-label">论文作者:</label>
			<div class="col-md-3">
				<input id="queryEssayAuthor" name="queryEssayAuthor" class="form-control" ng-model="essay.query.cons.author">
			</div>
			<label class="col-md-1 control-label">论文类别:</label>
			<div class="col-md-3">
				<input id="queryEssayArttype" name="queryEssayArttype" class="form-control" ng-model="essay.query.cons.arttype">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">已上传附件:</label>
			<div class="col-md-3">
				<input id="queryEssayFile" name="queryEssayFile" class="form-control" lar-select="essay.exists" lar-model="essay.query.cons.exist">
			</div>
			<label class="col-md-1 control-label">论文类型:</label>
			<div class="col-md-3">
				<input id="queryEssayType" name="queryEssayType" class="form-control" lar-select="essay.essayTypes" lar-option="所有类型" lar-model="essay.query.cons.type">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 control-label">期刊名称:</label>
			<div class="col-md-3">
				<input id="queryEssayPeriodicalTitle" name="queryEssayPeriodicalTitle" class="form-control" ng-model="essay.query.cons.periodicalTitle">
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div id="essayGrid"></div>
	</div>
	
	<div class="col-md-12">
		<div ng-include src="essay.template.essayEdit"></div>
	</div>

</div>